[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
[submodule "clas12-qadb"]
	path = clas12-qadb
	url = https://github.com/JeffersonLab/clas12-qadb
[submodule "ccdb"]
	path = ccdb
	url = https://github.com/baltzell/ccdb.git
[submodule "hipo_src"]
	path = hipo_src
	url = https://github.com/gavalian/hipo.git
[submodule "rcdb"]
	path = rcdb
	url = https://github.com/baltzell/rcdb.git
