[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
[submodule "clas12-qadb"]
	path = clas12-qadb
	url = https://github.com/JeffersonLab/clas12-qadb.git
[submodule "ccdb"]
	path = ccdb
	url = https://code.jlab.org/hallb/clas12/ccdb.git
[submodule "hipo_src"]
	path = hipo_src
	url = https://code.jlab.org/hallb/clas12/hipo-cpp.git
[submodule "rcdb"]
	path = rcdb
	url = https://code.jlab.org/hallb/clas12/rcdb.git
