[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
[submodule "ccdb"]
	path = ccdb
	url = https://github.com/JeffersonLab/ccdb.git
[submodule "rcdb"]
	path = rcdb
	url = https://github.com/JeffersonLab/rcdb
